.header
 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(3, 190, 236);
  padding: 0 2rem;
}

 h1 {
  
  position: absolute;
width: 396px;
height: 36px;
left: 73px;
top: 170px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;

}

h2{
  position: absolute;
width: 396px;
height: 36px;
left: 73px;
top: 201px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;

}

.lorem{
  position: absolute;
width: 311px;
height: 115px;
left: 75px;
top: 259px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 20px;

color: #FFFFFF;
}
.logo{
  position: absolute;
width: 100px;
height: 30px;
left: 42px;
top: 31px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;
}
.saly{
  position: absolute;
width: 385px;
height: 385px;
left: 420px;
top: 15px;
background: rgb(3, 190, 236);

}